<div class="first" ng-controller='MainCtrl'>
      {{5+5}}
      <form>
      <input type='text' ng-model='q'>
      <input type="submit" ng-click='qRequest(); showCat();' >
      </form>

      <div id='jsonator' ng-repeat='x in jsonator'>
      	
      	<div><span id='titlu'>Titlu: </span>{{x.titlu}}</div>
      	<div><span id='titlu'>Categorie: </span>{{x.categorie}}</div>
      	<div><span id='titlu'>Zonă: </span>{{x.zona}}</div>
      	<div><span id='titlu'>Dată: </span>{{x.data}}</div>
      	<div><span id='titlu'>Text: </span>{{x.text}}</div>
      	<div><span id='titlu'>Fișier: </span>{{x.filename}}</div>
      	<div><span id='titlu'>Pagină Originală: </span>{{x.originalPage}}</div>
      	<div><span id='titlu'>Document Original: </span>{{x.originalDoc}}</div>
      	<div><span id='titlu'>Crawler: </span>{{x.crawler}}</div>
      	<div><span id='titlu'>Link Minister: </span>{{x.minister}}</div>
      	<br>
      </div>

</div>
