<div class="first" ng-controller='MainCtrl'>
     
      <form>
      <!--
      <input type="text" ng-model='startDate'>
      <input type="text" ng-model='endDate'>
      -->
      <input id='search' type='text' ng-model='q'>
      <input id='submit' type="submit" ng-click='qRequest(); colors();' class="btn btn-default" >
      </form>
      <br>
      <div id='jsonator' ng-repeat='x in jsonator'>
      	
      	<div id='block'>
	      	
	      	<div id='odd'><span id='titlu'>Titlu: </span>{{x.name}}</div>
	      	<div id='even'><span id='titlu'>Categorie: </span>{{x.categorie}}</div>
	      	<div id='odd'><span id='titlu'>Zonă: </span>{{x.zona}}</div>
	      	<div id='even'><span id='titlu'>Dată: </span>{{x.data}}</div>
	      	<div id='odd'><span id='titlu'>Text: </span>{{x.text}}</div>
	      	<div id='even'><span id='titlu'>Fișier: </span>{{x.filename}}</div>
	      	<div id='odd'><span id='titlu'>Pagină Originală: </span>{{x.originalPage}}</div>
	      	<div id='even'><span id='titlu'>Document Original: </span>{{x.originalDoc}}</div>
	      	<div id='odd'><span id='titlu'>Crawler: </span>{{x.crawler}}</div>
	      	<div id='even'><span id='titlu'>Link Minister: </span>{{x.minister}}</div>
      	
      	</div>
      	<br>
      </div>

</div>
